<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ SERVER_NAME }}</title>
  <link rel="icon" type="image/webp" href="{{ url_for('static', filename='favicon.webp') }}">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body style="display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0;">
  <div class="container login-container" style="max-width: 100%;">
    <img src="{{ url_for('static', filename=logo_filename) }}" alt="Logo" style="display: block; margin: 0 auto; max-width: 200px" >
    <h1 style="text-align: center">Welcome to {{ SERVER_NAME }}!</h1>
    <form method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <label for="password">Please enter the password.</label><br>
      <input type="password" name="password" placeholder="Enter password" required autofocus>
      <button type="submit">Enter</button>
    </form>
  </div>
</body>
</html>