<p>
  Why did I do all this? I started out collecting all the Star Trek shows because they kept jumping around to different streaming services. At some point I joined r/datahoarder and now I have about 10TB of movies, shows, music, and books. And I wanted to share! So enjoy. 🖖
</p>

<p>
  Donate to my hard drive fund:
</p>

<ul class="text-left max-800">
  <li>Venmo - <b>your-venmo</b></li>
  <li>Cashapp - <b>your-cashapp</b></li>
  <li>Zelle - <b>your-zelle</b></li>
</ul>

<!-- 
<p>
  <a href="https://ko-fi.com/secretlycarl" target="_blank" class="accent">
    <img src="https://cdn.ko-fi.com/cdn/kofi3.png?v=3" alt="Buy Me a Coffee at ko-fi.com" style="height:36px;">
  </a>
</p> 
-->
